body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

div.app {
  height: 100%
}

#Authentication-container {
  background-color: #508bfc;
  position: fixed;
  padding-top: 4%;
  width: 100%;
  height: 100%;
}

#ConfigurationContainer {
    background-color: #dbdbdb;
    position: fixed;
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

#PrizeMoneyConfiguration {
  background-color: #dbdbdb;
  width: 100%;
  height: 20%;
} 

#PrizeMoneyConfigurationTitle {
  padding-top: 1%;
  height: 20%;
  background-color: #dbdbdb;
}

#PrizeMoneyConfigurationSubmit {
  background-color: #dbdbdb;
}

#GameStartContainer {
  background-color: #dbdbdb;
  display: inline-block;
  vertical-align: middle;

  width: 50%;
}
#StartConf {
  background-color: #dbdbdb;
  padding-left: 15%;
}

#RestConf {
  background-color: #dbdbdb;
  padding-right: 15%;
}

#AccountName {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HorizontalScroll {
  background-color: #dbdbdb;
}

.Paypalcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Paypalcontainer {
  height: 10vh;
  position: relative;
}

#navcontainer{
  background-color: #dbdbdb;
  height: 100%;
  width: 100%;
}
#PaypalPage{
  background-color: #dbdbdb;
  height: 100%;
  width: 100%;
  padding-top: 7.5%;
}

 div#Card1 { 
  height: 50vh;
  float: left;
  width: 50%;
 }
 div#Card2 { 
  height: 50vh;
  float: left;
  width: 50%;
 }
 div#Card3 {
  height: 50vh;
  clear: left;
  float: right;
  width: 50%;
 }
 div#Card4 { 
  height: 50vh;
  float: right;
  width: 50%;
 }

 .PackagePrice {
  text-align: center;
  margin-bottom: 5vh;
 }

 #PackageSubmit {
  margin-top: 1vh;
  float: center;
  background-color: #dbdbdb;

 }
 #Gamestart {
  background-color: #dbdbdb;
  height: 100%;
}
 

 @media only screen and (min-width: 1024px) {

  #Gamestart {
    background-color: #dbdbdb;
    height: 100%;
  }


}
 #Gamestart {
  background-color: #dbdbdb;
}

 #PlayerList {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

#Number {
  vertical-align: auto;
  margin-top: 5%;
}

#WaitingForGame {
  background-color: #dbdbdb;
  height: 100%
}

.text-center {
  padding-top: 1%;
}

.table-secondary {
  height: 5vh;
  width: 5vw;
  text-align: center;
}

.numtable{
    width: 100%;
    margin-bottom: 1rem;
    color: #4f4f4f;
    vertical-align: top;
    border-color: #e0e0e0;

}
.numtable td{
  width: 8vw;

}

.rows{
    --mdb-gutter-x: 1.5rem; 
    --mdb-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--mdb-gutter-y));
    margin-right: calc(0 * var(--mdb-gutter-x));
    margin-left: calc(-0.5 * var(--mdb-gutter-x));
}

.rows>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--mdb-gutter-x) * 0);
  padding-left: calc(var(--mdb-gutter-x) * 0.5);
  margin-top: var(--mdb-gutter-y);
}

.waitingrows{
  --mdb-gutter-x: 1.5rem; 
  --mdb-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--mdb-gutter-y));
  margin-right: calc(0 * var(--mdb-gutter-x));
  margin-left: calc(-0.5 * var(--mdb-gutter-x));
}

.waitingrows>* {
flex-shrink: 0;
width: 100%;
max-width: 100%;
padding-right: calc(var(--mdb-gutter-x) * 0);
padding-left: calc(var(--mdb-gutter-x) * 0.5);
margin-top: var(--mdb-gutter-y);
}

.game-card-body {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  height: 15vh;
  align-content: center;
  flex-wrap: wrap;
}
.waiting-card{
  padding-top: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  height: 2vh;
  color:white;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #3b71ca;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.game-start-rows{
  display: flex;
  flex-wrap: wrap;
  padding-right: 2%;

}
.game-start-rows>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: var(--mdb-gutter-y);
}
.game-start-card-body {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  height: 15vh;
  align-content: center;
  flex-wrap: wrap;
}


.tableFixHead thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

.tableFixHead {
  overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
  height: 45vh;/* gives an initial height of 200px to the table */
}

#Pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #dbdbdb;
}
#package-page{
  background-color: #dbdbdb;
}


.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  /* align-items: center; */
}

#ballGraphic, #ballText {
  padding: 4%;
  margin: 0.5em auto;
  border-radius: 100%;
}
#ballText {
  line-height: 1.3;
  padding: 0.8em 1.2em;
  font-weight: bold;
}
#currentBall {
  padding-top: 3%;
  position: relative;
}
#ballText:not(:empty) {
  border: 1px solid red;
  box-shadow: inset -0.5rem -0.5rem 2rem 0 rgba(0, 0, 0, 0.16), 0 0 0 0.25rem white;
  background: radial-gradient(circle at 20% 20%, white, #efefef);
}
#ballText.single {
  padding: 0.8em 1.5em;
}
#callNumber:not(:empty) {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  background: white;
  color: #444;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em;
}
#ballGraphic.blue, #ballGraphic.red, #ballGraphic.white, #ballGraphic.green, #ballGraphic.orange, #ballGraphic.pink {
  margin-top: -0.5rem;
  position: relative;
  box-shadow: inset 0.5rem 0.5rem 1.5rem 0.25rem rgba(255,255,255,0.3), inset -0.25rem -0.25rem 1.5rem 0.5rem rgba(0,0,0,0.4);
}

#ballGraphic.blue:after, #ballGraphic.red:after,
#ballGraphic.white:after, #ballGraphic.green:after, #ballGraphic.orange:after, #ballGraphic.pink:after {
  content: '';
  background: radial-gradient(circle at 50% -150%, rgba(0,0,0,0.4), transparent);
  height: 0.75rem;
  position: absolute;
  bottom: -1rem;
  width: 70%;
  left: 17%;
  border-radius: 100%;
  margin: 0 auto;
}
/* Ball Colors */
#ballGraphic.blue {
  background: radial-gradient(circle at 20% 20%, #0000FF, #0000ad);
}
#ballGraphic.blue #ballText {
  border: 0.15rem solid #0000FF;
}
#ballGraphic.red {
  background: radial-gradient(circle at 20% 20%, #FF0000, #910000);
}
#ballGraphic.red #ballText {
  border: 0.15rem solid #FF0000;
}
#ballGraphic.white {
  background: radial-gradient(circle at 20% 20%, #ffffff, #b6b6b6);
}
#ballGraphic.white #ballText {
  border: 0.15rem solid #FF0000;
}
#ballGraphic.green {
  background: radial-gradient(circle at 20% 20%, #008000, #004a00);
}
#ballGraphic.green #ballText {
  border: 0.15rem solid #008000;
}
#ballGraphic.orange {
  background: radial-gradient(circle at 20% 20%, #FFA500, #9c6400);
}
#ballGraphic.orange #ballText {
  border: 0.15rem solid #FFA500;
}
#ballGraphic.pink {
  background: radial-gradient(circle at 20% 20%, #ff00b3, #990091);
}
#ballGraphic.pink #ballText {
  border: 0.15rem solid #ff00b3;
}

#waitingballGraphic, #waitingballText {
  padding: 4%;
  margin: 0.5em auto;
  border-radius: 100%;
}
#waitingballText {
  line-height: 1.3;
  padding: 0.8em 1.2em;
  font-weight: bold;
}
#waitingBall {
  padding-top: 3%;
  position: relative;
}
#waitingballText:not(:empty) {
  border: 1px solid red;
  box-shadow: inset -0.5rem -0.5rem 2rem 0 rgba(0, 0, 0, 0.16), 0 0 0 0.25rem white;
  background: radial-gradient(circle at 20% 20%, white, #efefef);
}
#waitingballText.single {
  padding: 0.8em 1.5em;
}
#waitingcallNumber:not(:empty) {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  background: white;
  color: #444;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em;
}
#waitingballGraphic.blue, #waitingballGraphic.red, #waitingballGraphic.white, #waitingballGraphic.green, #waitingballGraphic.orange, #waitingballGraphic.pink {
  margin-top: -0.5rem;
  position: relative;
  box-shadow: inset 0.5rem 0.5rem 1.5rem 0.25rem rgba(255,255,255,0.3), inset -0.25rem -0.25rem 1.5rem 0.5rem rgba(0,0,0,0.4);
}

#waitingballGraphic.blue:after, #waitingballGraphic.red:after,
#waitingballGraphic.white:after, #waitingballGraphic.green:after, #waitingballGraphic.orange:after, #waitingballGraphic.orange:after,#waitingballGraphic.pink:after {
  content: '';
  background: radial-gradient(circle at 50% -150%, rgba(0,0,0,0.4), transparent);
  height: 0.75rem;
  position: absolute;
  bottom: -1rem;
  width: 70%;
  left: 17%;
  border-radius: 100%;
  margin: 0 auto;
}
/* Ball Colors */
#waitingballGraphic.blue {
  background: radial-gradient(circle at 20% 20%, #0000FF, #0000ad);
}
#waitingballGraphic.blue #waitingballText {
  border: 0.15rem solid #0000FF;
}
#waitingballGraphic.red {
  background: radial-gradient(circle at 20% 20%, #FF0000, #910000);
}
#waitingballGraphic.red #waitingballText {
  border: 0.15rem solid #FF0000;
}
#waitingballGraphic.white {
  background: radial-gradient(circle at 20% 20%, #ffffff, #b6b6b6);
}
#waitingballGraphic.white #waitingballText {
  border: 0.15rem solid #FF0000;
}
#waitingballGraphic.green {
  background: radial-gradient(circle at 20% 20%, #008000, #004a00);
}
#waitingballGraphic.green #waitingballText {
  border: 0.15rem solid #008000;
}
#waitingballGraphic.orange {
  background: radial-gradient(circle at 20% 20%, #FFA500, #9c6400);
}
#waitingballGraphic.orange #waitingballText {
  border: 0.15rem solid #FFA500;
}
#waitingballGraphic.pink {
  background: radial-gradient(circle at 20% 20%, #ff00b3, #990091);
}
#waitingballGraphic.pink #waitingballText {
  border: 0.15rem solid #ff00b3;
}
#playerpage {
  height: 100%;
  background-color: #dbdbdb;
}
#hostpage {
  height: 100%;
  background-color: #dbdbdb;
}


.navlogo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2em;
    height: 2em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-right: 8px;
}


@media only screen and (max-width: 1024px) {

  #Pack{
    flex-direction: column;
  }

}


@media only screen and (min-width: 1024px) {

  #Player-table{
    padding-top: 15vh;
  }

}

@media (max-width: 900px){

.navlogo {
    display: none;
}
}


@media (min-width: 900px){
.mobilelogo {
    display: none;
}
}

.paypal-button-row  paypal-button-number-1{
  display: none;
}

#prizemoneywrap{
  display: flex;
  flex-direction: column;
}
